################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/trpoMainProject/v16
/trpoMainProject/bin/Debug
/trpoMainProject/obj/Debug
/.vs
/trpoMainProject/obj/Release
